<div class="product">
    <div class="product-content">
      <div class="product-details">
        <img src="page-apartamento.png" alt="Apartamentos" class="product-image">
        <h2>Apartamentos</h2>
        <p>Somos uma empresa referência em vendas de apartamentos, oferecendo as melhores opções do mercado com condições exclusivas. Garantimos segurança, transparência e um atendimento personalizado para ajudar você a encontrar o imóvel dos seus sonhos, sem burocracia e com as melhores facilidades de pagamento.</p>
        <button><a href="">SIMULE AGORA</a></button>
      </div>
    </div>
</div>