.product {
  padding: 50px 20px;
  text-align: center;

  .product-content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .product-image {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .product-details {
      text-align: left;

      h2 {
        font-size: 2rem;
        margin-bottom: 20px;
      }

      p {
        font-size: 1.2rem;
        margin-bottom: 20px;
      }

      button {
        width: 100%;
        height: 56px;
        padding: 10px 20px;
        font-size: 1rem;
        background-color: rgba(254, 235, 106, 0.3);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: rgba(210, 194, 89, 0.3);
        }

        a {
          color: white;
          font-weight: 600;
          font-family: "Oscine", sans-serif;
          font-size: 18px;
          text-decoration: none;
        }
      }
    }
  }
}