<div class="product">
    <div class="product-content">
      <div class="product-details">
        <img src="page-mentoria.png" alt="William Barbosa" class="product-image">
        <h2>Mentorias</h2>
        <p>Ajudo pessoas e empresas a se destacarem no mercado, aumentando suas vendas e potencializando seus resultados. Com estratégias personalizadas e orientações práticas, minha mentoria vai transformar seu negócio. Entre em contato e dê o próximo passo rumo ao sucesso!</p>
        <button><a href="">CONTRATE-ME</a></button>
      </div>
    </div>
</div>