<div id="cars" class="product">
    <div class="product-content">
      <div class="product-details">
        <img src="page-carro.png" alt="Carros" class="product-image">
        <h2>Carros</h2>
        <p>Somos referência na venda de carros, oferecendo qualidade, preços imbatíveis e atendimento personalizado. Trabalhamos com veículos revisados e certificados para garantir segurança e confiança em cada compra.</p>
        <button><a href="">SIMULE AGORA</a></button>
      </div>
    </div>
</div>